@font-face {
  font-family: "bolo";
  src: url('../estilo/fonte/Stars&Love-BottomHeavy.ttf') format('truetype');
}

@font-face {
  font-family: "menu";
  src: url('../estilo/fonte/Oswald-Bold.ttf') format('truetype');
}


:root {
  --cor01: #C2516D;
  --cor02: #CFF0F6;
  --cor03: #FED7DA;
  --cor04: #FFF8EB;
  --cor05: #8b374c;

}

* {
margin: 0 0;
}
  
body {
  background-color: var(--cor02);
  font-size: 16px;
}

.cabecalho {
  background: var(--cor01);
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-left: 1rem;
  padding-top: 1rem;
  margin: auto;
}

.titulo {
  color: var(--cor03); 
  padding-top: 1rem;
  font-size: 4rem;
  font-family: 'bolo';
  text-shadow: 2px 2px 2px #1110108a; 
  padding-left: 15rem;
}

.cabecalho > p {
  color: var(--cor03);
  padding-left: 10rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-transform: uppercase;
  text-shadow: 1px 1px 1px rgb(95, 94, 94);
  font-size: 1.5rem;
  text-align: center;
}

.menu {
  background-color: #C2516D;
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  padding: 0.5rem;
}

.menu > a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 1.2rem;
  color: #FED7DA;
  font-weight: bold;
  font-family: 'menu';
  padding: 0.5rem;
}

.menu > a:hover {
  background-color: var(--cor03);
  color: var(--cor01);
}

#video {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#button {
  background-color: var(--cor03);
  border: none;
  color: var(--cor01);
  display: flex;
  padding: 1rem;
  margin: auto;
  margin-top: 1rem;
  font-size: 2rem;
  font-family: "bolo";
  box-shadow: 2px 2px 5px var(--cor01);
  border-radius: 10%;
}

.home {
  background-color: var(--cor04);
  text-align: justify;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 2.5rem;
  font-size: 1.2rem;
  padding: 1rem;
  margin: 5rem;
  border-radius: 1rem;
}

footer {
  background-color: #C2516D;
  color: #FFF8EB;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-top: 10rem;
  padding: 0.5rem;
}

/* estilo da localizacao.HTML */

.localizacao {
 text-align: center;
 margin-top: 4rem;
}

/* estilo da nossosBolos.HTML */

.nossos-bolos {
  display: flex;
  justify-content: space-between;
}
  
.img-bolo  {
  display: flex;
  margin: auto;
  text-align: center;
  justify-content: center;
  margin-top: 2rem;
}

img {
  border-radius: 1rem; 
}

.txt-bolo {
  color: #944256;
  font-family: "Arial, Helvetica, sans-serif";
  width: 300px;
  height: 300px;
  background-color: #fff8eb9c;
  border-radius: 1rem;  
  display: none;
  position: absolute;
}

.txt-bolo h2 {
  font-family: "bolo";
  font-size: 2.2rem;
  padding: 1rem;
}

.txt-bolo p {
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1rem;
  line-height: 2rem;
  text-transform: uppercase;
}

/* estilo da contato.HTML */
.formulario {
  font-family: Helvetica, sans-serif;
  box-sizing: border-box;
  padding: 1rem;
}

.formulario h2 {
  text-align: center;
  color: var(--cor05);
  padding-bottom: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 0.5rem;
  width: 30%;
}

label {
  font-weight: bold;

}

input, select, textarea {
  width: 100%;
  padding: 5px;
  border: 1px solid var(--cor03);
  border-radius: 10px;
}